<p>Welcome, <%= @user.email %>.</p>
<%= link_to 'Start a new Puzzle', pictures_new_path %>
<p>Here are your puzzles:</p>
<ul>
	<% @user.pictures.each do |p|%>
		<li><%= link_to p.title, p %></li>
	<% end %>
</ul>


